# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# IDE
.idea/
*.iml
*.ipr
*.iws
.project
.classpath
.settings/
.vscode/

# Logs
*.log
logs/

# Sensitive config
src/main/resources/application.yml
src/main/resources/application-*.yml

# Compiled class files
*.class

# Package files
*.jar
*.war
*.ear

# OS
.DS_Store
Thumbs.db

# Local node (frontend-maven-plugin)
node/
node_modules/
